*.class
*.swp
/turtlelogo/dist/
/Day2/05_IntroToTurtles/Square/build/
/Day2/05_IntroToTurtles/Square/nbproject/private/
/Day2/06_Decisions/GreenAndRed/nbproject/private/
/Day2/06_Decisions/GreenAndRed/build/
/Day2/07_Loops/Shapes/nbproject/private/
/Day2/07_Loops/Shapes/build/
/Day2/08_LoopsContinued/RandomWalk/nbproject/private/
/Day2/08_LoopsContinued/RandomWalk/build/
/Day2/08_LoopsContinued/Sprials/nbproject/private/
/Day2/08_LoopsContinued/Sprials/build/
/Day3/09_Arc/JavaApplication8/nbproject/private/
/Day3/09_Arc/Flowers/nbproject/private/
/Day3/09_Arc/Flowers/build/
/Day3/09_Methods/SquareTriangleCircle/nbproject/private/
/Day3/09_Methods/SquareTriangleCircle/build/
/Day3/10_Classes/FlowerArt/build/
/Day4/12_GUI/Hangman/nbproject/private/
/Day4/12_GUI/Hangman/build/
/Day4/12_GUI/SecretMessages/nbproject/private/
/Day4/12_GUI/SecretMessages/build/
/Day5/14_Paint/Paint/nbproject/private/
/Day5/14_Paint/Paint/build/
/Day5/15_Adventure/TextAdventure/nbproject/private/
/Day5/15_Adventure/Pong/nbproject/private/
/Day5/15_Adventure/Pong/build/
/Day5/15_Adventure/RPSLS/nbproject/private/
/Day5/15_Adventure/RPSLS/build/