*.class
*.swp
/turtlelogo/dist/
/Day2/05_IntroToTurtles/Square/build/
/Day2/05_IntroToTurtles/Square/nbproject/private/
/Day2/06_Decisions/GreenAndRed/nbproject/private/
/Day2/06_Decisions/GreenAndRed/build/